body {
  background-color: #25282a;
}

.slider-container {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation label {
  cursor: pointer;
  padding: 10px;
  background-color: #fff;
  margin-right: 5px;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
}
